
body {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
  }
  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  

  .form-horizontal {

    max-width: 500px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 500px;
    background-color:#e2faf8;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  

  .direct-contact-container {
    max-width: 400px;
  }
  
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  

  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: yellow;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  

  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
  .header {
    overflow: hidden;
    background-color: #ecfafb;
    padding: 20px 10px;
    box-shadow: 2px 5px 7px 0px rgba(53,53,53,0.75);
    z-index: 15;
    border-radius: 25px;
    display: inline-block;
    width: 1500px;
  }
  
  /* Style the header links */
  .header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    
  }
  
  /* Style the logo link */
  #logo {

    font-size: 25px;
    font-weight: bolder;
    pointer-events: none;
    z-index: 10;
  }

  
  /* Change the background color on mouse-over */
  .header a:hover {
    color: #A084E8;
    z-index: 10;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    z-index: 10;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
      z-index: 10;
    }
    .header-right {
      float: none;
      z-index: 10;
    }
  }
  /* --------------------- Header drop down menu*/
  .btn{
    border: none;
    font-size: 17px;
    height: 33px;
    z-index: 10;
    background-color: #ecfafb;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropbutton{
    position: absolute;
    display: inline-block;
    z-index: 10;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdowncat {
    display: none;
    position: absolute;
    background-color: #ecfafb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
  }
  
  /* Links inside the dropdown */
  .dropdowncat a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 20;
  }
  
  /* Change color of dropdown links on hover */
  .dropdowncat a:hover {background-color: #ecfafb;}
  
  /* Show the dropdown menu on hover */
  .dropbutton:hover .dropdowncat {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropbutton:hover .btn {background-color: #ecfafb;
    color: #A084E8;
  }
  #searchbar{
    position: absolute;
    right: 225px;
    height: 25px;
    width: 250px;
    border-radius: 30px;
   
  }
  #cont{
    position: fixed;
  
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: 750px;
    z-index: -5;
  }
  .bubbles{
    position: relative;
    display: flex;z-index: -5;
  }
  .bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #A084E8;
    margin: 0 4px;
    border-radius:  50%;
    box-shadow: 0 0 0 10px #A084E844,
    0 0 50px #A084E8,
    0 0 100px #A084E8;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s/var(--i));
    z-index: -5;
  }
  .bubbles span:nth-child(even)
  {
    background: #A7EDE7;
    box-shadow: 0 0 0 10px #A7EDE744,
    0 0 50px #A7EDE7,
    0 0 100px #A7EDE7;
    z-index: -5;
  }
  @keyframes animate
  {
    0%
    {
      transform: translateY(100vh) scale(0);
    }
    100%
    {
      transform: translateY(-10vh) scale(1);
    }
  }